.start {
  padding: 100px 0;
  background-color: var(--main-color);
  color: var(--white);
}
.start__title {
  font-size: 18px;
  height: 30px;
  font-weight: 300;
  text-align: center;
}
.start__content {
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.start__button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid var(--white);
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all 0.5s;
}

.start__button:hover {
  background-color: var(--black-color);
  border-color: var(--black-color);
}
.start__button p {
  font-size: 16px;
  line-height: 40px;
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {
  .start {
    padding: 80px 0;
  }
  .start__content {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .start {
    padding: 50px 0;
  }
  .start__content {
    font-size: 18px;
    line-height: 28px;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .start__title {
    font-size: 14px;
  }
}
