* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #157eff;
  --black-color: #333333;
  --black: #1a1a1a;
  --gray__color__1: #4d4e50;
  --gray__color__2: #747577;
  --gray__color__3: #abacaf;
  --gray__color__5: #d2d3d6;
  --gray__color__6: #f4f5f8;
  --white: #ffffff;
}
